<!DOCTYPE html>
<html>
  <head>
    <title>Devhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', displayLength: 4000, classes: 'red rounded'})" %>
      <% else message_type == 'notice'%>
        <%= javascript_tag "M.toast({html: '#{message}', displayLength: 4000, classes: 'green rounded'})" %>
      <% end %>
    <% end %>
    
  </body>
</html>
